<div class="row" >
<div class="col-md-3 " style="display:flex">
        <div  class="title"> Difficulty</div>
         <select class="browser-default custom-select" (change)='change(name.value,name2.value,name3.value)' #name>
             <option selected value="All">All</option>
             <option value="Easy" >Easy</option>
             <option value="Medium">Medium</option>
             <option value="Difficult"> Difficult</option>
           </select>
</div>
<div class="col-md-3"  style="display:flex">
        <div  class="title"> Status</div>
     <select class="browser-default custom-select" (change)='change(name.value,name2.value,name3.value)' #name2>
             <option selected value="All">All</option>
             <option value="InProgress">InProgress</option>
             <option value="Unlocked">Unlocked</option>
             <option value="Completed">Completed</option>
             <option value="Locked">Locked</option>
           </select>
</div>
<div class="col-md-3"  style="display:flex">
        <div  class="title"> Topic</div>
        
     <select class="browser-default custom-select" (change)='change(name.value,name2.value,name3.value)' #name3>
             <option selected value="0">All</option>
             <option value={{topic.id}} *ngFor= "let topic of topics;">{{ topic.value }}</option>
           </select>
</div>
<div class="col-md-3">
 <div class="container ">
    <div class="num-extra-exercises" style="text-align: center;">{{this.counter}} exercices</div> 
  </div>
</div>
</div>